* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    background: #fff;
}

html, body, webview {
    width: 100%;
    height: 100%;
}

.url-popup {
  position: absolute;

  top: 50%;
  left: 50%;

  width: 100%;
  max-width: 400px;

  transform: translate3d(-50%, calc(-50% + 20px), 0);

  font-family: sans-serif;

  border-radius: 2px;

  background-color: white;

  box-shadow: 0 1px 8px -2px;

  visibility: hidden;
  opacity: 0;

  transition-duration: .35s;
  transition-property: transform, opacity, visibility;
}

.show .url-popup {
  opacity: 1;
  visibility: visible;
  transform: translate3d(-50%, -50%, 0);
}

label,
.fake-label {
  display: block;

  padding: 10px;
}

label input[type="text"],
.fake-label input[type="text"] {
  display: block;

  width: 100%;

  padding: 10px;
}